@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 256 34% 48%;
  --onPrimary: 0 0% 100%;
  --primaryContainer: 263 100% 93%;
  --onPrimaryContainer: 261 100% 18%;
  --primaryFixed: 263 100% 93%;
  --onPrimaryFixed: 261 100% 18%;
  --primaryFixedDim: 258 100% 87%;
  --onPrimaryFixedVariant: 257 43% 38%;
  --secondary: 259 11% 40%;
  --onSecondary: 0 0% 100%;
  --secondaryContainer: 263 65% 92%;
  --onSecondaryContainer: 253 26% 13%;
  --secondaryFixed: 263 65% 92%;
  --onSecondaryFixed: 253 26% 13%;
  --secondaryFixedDim: 263 27% 81%;
  --onSecondaryFixedVariant: 258 13% 31%;
  --tertiary: 340 21% 41%;
  --onTertiary: 0 0% 100%;
  --tertiaryContainer: 342 100% 92%;
  --onTertiaryContainer: 338 48% 13%;
  --tertiaryFixed: 342 100% 92%;
  --onTertiaryFixed: 338 48% 13%;
  --tertiaryFixedDim: 343 63% 83%;
  --onTertiaryFixedVariant: 341 25% 31%;
  --error: 3 71% 41%;
  --onError: 0 0% 100%;
  --errorContainer: 4 71% 92%;
  --onErrorContainer: 3 71% 15%;
  --outline: 270 4% 47%;
  --background: 293 100% 98%;
  --onBackground: 264 8% 12%;
  --surface: 293 100% 98%;
  --onSurface: 264 8% 12%;
  --surfaceVariant: 275 24% 90%;
  --onSurfaceVariant: 264 7% 29%;
  --inverseSurface: 270 6% 20%;
  --inverseOnSurface: 285 33% 95%;
  --inversePrimary: 258 100% 87%;
  --shadow: 0 0% 0%;
  --surfaceTint: 256 34% 48%;
  --outlineVariant: 270 11% 79%;
  --scrim: 0 0% 0%;
  --surfaceContainerHighest: 280 17% 90%;
  --surfaceContainerHigh: 276 25% 92%;
  --surfaceContainer: 276 38% 95%;
  --surfaceContainerLow: 278 44% 96%;
  --surfaceContainerLowest: 0 0% 100%;
  --surfaceBright: 293 100% 98%;
  --surfaceDim: 280 13% 86%;
}

.dark {
  --primary: 258 100% 87%;
  --onPrimary: 259 58% 28%;
  --primaryContainer: 257 43% 38%;
  --onPrimaryContainer: 263 100% 93%;
  --primaryFixed: 263 100% 93%;
  --onPrimaryFixed: 261 100% 18%;
  --primaryFixedDim: 258 100% 87%;
  --onPrimaryFixedVariant: 257 43% 38%;
  --secondary: 263 27% 81%;
  --onSecondary: 258 18% 22%;
  --secondaryContainer: 258 13% 31%;
  --onSecondaryContainer: 263 65% 92%;
  --secondaryFixed: 263 65% 92%;
  --onSecondaryFixed: 253 26% 13%;
  --secondaryFixedDim: 263 27% 81%;
  --onSecondaryFixedVariant: 258 13% 31%;
  --tertiary: 343 63% 83%;
  --onTertiary: 338 33% 22%;
  --tertiaryContainer: 341 25% 31%;
  --onTertiaryContainer: 342 100% 92%;
  --tertiaryFixed: 342 100% 92%;
  --onTertiaryFixed: 338 48% 13%;
  --tertiaryFixedDim: 343 63% 83%;
  --onTertiaryFixedVariant: 341 25% 31%;
  --error: 3 70% 83%;
  --onError: 3 71% 22%;
  --errorContainer: 3 71% 32%;
  --onErrorContainer: 4 71% 92%;
  --outline: 264 5% 58%;
  --background: 260 14% 8%;
  --onBackground: 280 17% 90%;
  --surface: 260 14% 8%;
  --onSurface: 280 17% 90%;
  --surfaceVariant: 264 7% 29%;
  --onSurfaceVariant: 270 11% 79%;
  --inverseSurface: 280 17% 90%;
  --inverseOnSurface: 270 6% 20%;
  --inversePrimary: 256 34% 48%;
  --shadow: 0 0% 0%;
  --surfaceTint: 258 100% 87%;
  --outlineVariant: 264 7% 29%;
  --scrim: 0 0% 0%;
  --surfaceContainerHighest: 257 6% 22%;
  --surfaceContainerHigh: 257 8% 17%;
  --surfaceContainer: 257 10% 14%;
  --surfaceContainerLow: 264 8% 12%;
  --surfaceContainerLowest: 260 19% 6%;
  --surfaceBright: 270 5% 23%;
  --surfaceDim: 260 14% 8%;
}
